<ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button>
             <ion-menu-button auto-hide="true"></ion-menu-button>
          </ion-button>
        </ion-buttons>
        <ion-title>Living Room </ion-title>
</ion-toolbar>

<ion-content>
 <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
 <ion-card >
<!--door & windows-->
 <ion-item >
  <ion-label>Doors & Windows</ion-label>
  <ion-toggle slot="end" name="Doors_and_Windows" (ionChange)="notify1()" formControlName="Doors_and_Windows"  ></ion-toggle>  
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled1">
      <ion-label position="floating">UPVC hardware is standard</ion-label>      
       <ion-select formControlName= "UPVC_hardware_is_standard" (ionChange)="UPVC_hardware_is_standard()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay1" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery1()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_hardware_is_standard_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled1">
      <ion-label position="floating">UPVC balcony glass is free of scratches</ion-label>      
       <ion-select formControlName= "UPVC_balcony_glass_is_free_of_scratches" (ionChange)="UPVC_balcony_glass_is_free_of_scratches()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay2" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery2()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_balcony_glass_is_free_of_scratches_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section-->
<ion-item *ngIf="isToggled1">
      <ion-label position="floating">UPVC balcony door bug screen mesh is operable</ion-label>      
       <ion-select formControlName= "UPVC_balcony_door_bug_screen_mesh_is_operable" (ionChange)="UPVC_balcony_door_bug_screen_mesh_is_operable()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay3" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery3()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_balcony_door_bug_screen_mesh_is_operable_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled1">
      <ion-label position="floating">Gasket/Sealants are intact</ion-label>      
       <ion-select formControlName= "Gasket_or_Sealants_are_intact" (ionChange)="Gasket_or_Sealants_are_intact()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay4" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery4()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Gasket_or_Sealants_are_intact_Description"></ion-input>
         </ion-item>  
      </ion-card>


<!--section-->
<ion-item *ngIf="isToggled1">
      <ion-label position="floating">UPVC balcony doors are without sharp edges</ion-label>      
       <ion-select formControlName= "UPVC_balcony_doors_are_without_sharp_edges" (ionChange)="UPVC_balcony_doors_are_without_sharp_edges()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
      </ion-item> 
<ion-card *ngIf="cameradisplay5" >        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
     
       <ion-button (click)="getGallery5()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
        </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_balcony_doors_are_without_sharp_edges_Description"></ion-input>
         </ion-item>  
</ion-card>
<!--section-->
<ion-item *ngIf="isToggled1">
      <ion-label position="floating">UPVC balcony doors are without sharp edges</ion-label>      
       <ion-select formControlName= "UPVC_balcony_doors_are_operable" (ionChange)="UPVC_balcony_doors_are_operable()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
     </ion-item>
<ion-card *ngIf="cameradisplay6" >
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
      
        <ion-button (click)="getGallery6()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
        </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_balcony_doors_are_operable_Description"></ion-input>
         </ion-item>  
</ion-card>
<!--section-->
<ion-item *ngIf="isToggled1">
      <ion-label position="floating">UPVC balcony door bug screen mesh is taut</ion-label>      
       <ion-select formControlName= "UPVC_balcony_door_bug_screen_mesh_is_taut" (ionChange)="UPVC_balcony_door_bug_screen_mesh_is_taut()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay7" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery7()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_balcony_door_bug_screen_mesh_is_taut_Description"></ion-input>
         </ion-item>  
      </ion-card>






<ion-item >
  <ion-label>Electrical</ion-label>
  <ion-toggle slot="end" name="Electrical" (ionChange)="notify2()" formControlName="Electrical"  ></ion-toggle>
   
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled2">
      <ion-label position="floating">Switch plates are aligned</ion-label>      
       <ion-select formControlName= "Switch_plates_are_aligned" (ionChange)="Switch_plates_are_aligned()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay8" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery8()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Switch_plates_are_aligned_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled2">
      <ion-label position="floating">AC Core cut pipe is finished flush with plaster</ion-label>      
       <ion-select formControlName= "AC_Core_cut_pipe_is_finished_flush_with_plaster" (ionChange)="AC_Core_cut_pipe_is_finished_flush_with_plaster()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay9" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery9()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="AC_Core_cut_pipe_is_finished_flush_with_plaster_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section-->
    <ion-item *ngIf="isToggled2">
      <ion-label position="floating">Wall Light points are covered /capped properly</ion-label>      
       <ion-select formControlName= "Wall_Light_points_are_covered_or_capped_properly" (ionChange)="Wall_Light_points_are_covered_or_capped_properly()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay10" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery10()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Wall_Light_points_are_covered_or_capped_properly_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled2">
      <ion-label position="floating">AC Core cut pipe is cleaned </ion-label>      
       <ion-select formControlName= "AC_Core_cut_pipe_is_cleaned" (ionChange)="AC_Core_cut_pipe_is_cleaned()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay11" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery11()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="AC_Core_cut_pipe_is_cleaned_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section-->
<ion-item *ngIf="isToggled2">
      <ion-label position="floating">Ceiling electrical points are covered/capped properly</ion-label>      
       <ion-select formControlName= "Ceiling_electrical_points_are_covered_or_capped_properly" (ionChange)="Ceiling_electrical_points_are_covered_or_capped_properly()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay12" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery12()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Ceiling_electrical_points_are_covered_or_capped_properly_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section-->
<ion-item *ngIf="isToggled">
      <ion-label position="floating">Switches are operable</ion-label>      
       <ion-select formControlName= "Switches_are_operable" (ionChange)="Switches_are_operable()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay13" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery13()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Switches_are_operable_Description"></ion-input>
         </ion-item>  
</ion-card>
<!--section-->
<ion-item *ngIf="isToggled2">
      <ion-label position="floating">Electrical points are as per standard offering</ion-label>      
       <ion-select formControlName= "Electrical_points_are_as_per_standard_offering" (ionChange)="Electrical_points_are_as_per_standard_offering()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay14" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery14()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Electrical_points_are_as_per_standard_offering_Description"></ion-input>
         </ion-item>  
</ion-card>
<!--flooring -->
<ion-item >
  <ion-label>Flooring</ion-label>
  <ion-toggle slot="end" name="Flooring" (ionChange)="notify3()" formControlName="Flooring"  ></ion-toggle>  
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled3">
      <ion-label position="floating">Skirting finish & alignment</ion-label>      
       <ion-select formControlName= "Skirting_finish_and_alignment" (ionChange)="Skirting_finish_and_alignment()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay15" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery15()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Skirting_finish_and_alignment_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled3">
      <ion-label position="floating">Marble floor polishing</ion-label>      
       <ion-select formControlName= "Marble_floor_polishing" (ionChange)="Marble_floor_polishing()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay16" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery16()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Marble_floor_polishing_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--Walls &Ceiling -->
<ion-item >
  <ion-label>Walls & Ceiling</ion-label>
  <ion-toggle slot="end" name="Walls_and_ceiling" (ionChange)="notify4()" formControlName="Walls_and_ceiling"  ></ion-toggle>  
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled4">
      <ion-label position="floating">Cornices provided are aligned</ion-label>      
       <ion-select formControlName= "Cornices_provided_are_aligned" (ionChange)="Cornices_provided_are_aligned()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay17" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery17()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Cornices_provided_are_aligned_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled4">
      <ion-label position="floating">Walls are free of cracks/ stains etc.,</ion-label>      
       <ion-select formControlName= "Walls_are_free_of_cracks_or_stains_etc" (ionChange)="Walls_are_free_of_cracks_or_stains_etc()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay18" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery18()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Walls_are_free_of_cracks_or_stains_etc_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section-->
    <ion-item *ngIf="isToggled4">
      <ion-label position="floating">Ceilings are free of stainss/undulations/stains etc.,</ion-label>      
       <ion-select formControlName= "Ceilings_are_free_of_stainss_or_undulations_or_stains_etc" (ionChange)="Ceilings_are_free_of_stainss_or_undulations_or_stains_etc()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay19" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery19()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Ceilings_are_free_of_stainss_or_undulations_or_stains_etc_Description"></ion-input>
         </ion-item>  
      </ion-card>
















<!--end of all-->
     
</ion-card>

    
     <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="ionicForm.invalid" color="primary" expand="block" >Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>

<ion-item *ngIf="issubmit" >
      <ion-button (click)="sendmail()" expand="block" color="primary"  shape="round">
            Send Email
      </ion-button>
</ion-item>





</ion-content>
