<ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button>
             <ion-menu-button auto-hide="true"></ion-menu-button>
          </ion-button>
        </ion-buttons>
        <ion-title>Bedroom Balcony</ion-title>
</ion-toolbar>

<ion-content>
 <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
 <ion-card >
<!--Walls & ceiling-->
<ion-item >
  <ion-label>Walls & ceiling</ion-label>
  <ion-toggle slot="end" name="Walls_and_ceiling" (ionChange)="notify1()" formControlName="Walls_and_ceiling"  ></ion-toggle>
   
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled1">
      <ion-label position="floating">Walls are free of cracks/ stains etc.,</ion-label>      
       <ion-select formControlName= "Walls_are_free_of_cracks_or__stains_etc" (ionChange)="Walls_are_free_of_cracks_or__stains_etc()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay1" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery1()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Walls_are_free_of_cracks_or__stains_etc_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled1">
      <ion-label position="floating">Ceilings are free of stains/undulations/cracks etc.,</ion-label>      
       <ion-select formControlName= "Ceilings_are_free_of_stains_or_undulations_or_cracks_etc" (ionChange)="Ceilings_are_free_of_stains_or_undulations_or_cracks_etc()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay2" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery2()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Ceilings_are_free_of_stains_or_undulations_or_cracks_etc_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section-->
    <ion-item *ngIf="isToggled1">
      <ion-label position="floating">Drip moulds in ceiling are consistent</ion-label>      
       <ion-select formControlName= "Drip_moulds_in_ceiling_are_consistent" (ionChange)="Drip_moulds_in_ceiling_are_consistent()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay3" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery3()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Drip_moulds_in_ceiling_are_consistent_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled1">
      <ion-label position="floating">Elevational ledge horizontal surface finish</ion-label>      
       <ion-select formControlName= "Elevational_ledge_horizontal_surface_finish" (ionChange)="Elevational_ledge_horizontal_surface_finish()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay4" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery4()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Elevational_ledge_horizontal_surface_finish_Description"></ion-input>
         </ion-item>  
      </ion-card>
 <!--Flooring-->     
<ion-item >
  <ion-label>Flooring</ion-label>
  <ion-toggle slot="end" name="Flooring" (ionChange)="notify2()" formControlName="Flooring"  ></ion-toggle>  
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled2">
      <ion-label position="floating">Vitrified tiles are uniform & free of cracks</ion-label>      
       <ion-select formControlName= "Vitrified_tiles_are_uniform_and_free_of_cracks" (ionChange)="Vitrified_tiles_are_uniform_and_free_of_cracks()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay5" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery5()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Vitrified_tiles_are_uniform_and_free_of_cracks"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled2">
      <ion-label position="floating">Floor Slopes provided are adequate</ion-label>      
       <ion-select formControlName= "Floor_Slopes_provided_are_adequate" (ionChange)="Floor_Slopes_provided_are_adequate()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay6" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery6()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Floor_Slopes_provided_are_adequate"></ion-input>
         </ion-item>  
      </ion-card>
<!--section-->
    <ion-item *ngIf="isToggled2">
      <ion-label position="floating">Skirting finish & alignment</ion-label>      
       <ion-select formControlName= "Skirting_finish_and_alignment" (ionChange)="Skirting_finish_and_alignment()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay7" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery7()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Skirting_finish_and_alignment_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--Floor Traps-->  
<ion-item >
  <ion-label>Floor Traps</ion-label>
  <ion-toggle slot="end" name="Floor_Traps" (ionChange)="notify3()" formControlName="Floor_Traps"  ></ion-toggle>  
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled3">
      <ion-label position="floating">Edges of floor trap is finished</ion-label>      
       <ion-select formControlName= "Edges_of_floor_trap_is_finished" (ionChange)="Edges_of_floor_trap_is_finished()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay8" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery8()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Edges_of_floor_trap_is_finished_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled3">
      <ion-label position="floating">Floor trap below cover is clean</ion-label>      
       <ion-select formControlName= "Floor_trap_below_cover_is_clean" (ionChange)="Floor_trap_below_cover_is_clean()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay9" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery9()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Floor_trap_below_cover_is_clean_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--Doors & Windows-->
<ion-item >
  <ion-label>Doors & Windows</ion-label>
  <ion-toggle slot="end" name="Doors_and_Windows" (ionChange)="notify4()" formControlName="Doors_and_Windows"  ></ion-toggle>  
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled4">
      <ion-label position="floating">UPVC balcony doors are operable</ion-label>      
       <ion-select formControlName= "UPVC_balcony_doors_are_operable" (ionChange)="UPVC_balcony_doors_are_operable()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay10" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery10()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_balcony_doors_are_operable_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled4">
      <ion-label position="floating">UPVC balcony doors are without sharp edges</ion-label>      
       <ion-select formControlName= "UPVC_balcony_doors_are_without_sharp_edges" (ionChange)="UPVC_balcony_doors_are_without_sharp_edges()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay11" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery11()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_balcony_doors_are_without_sharp_edges_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section-->
    <ion-item *ngIf="isToggled4">
      <ion-label position="floating">Gaskets/sealents are intact</ion-label>      
       <ion-select formControlName= "Gaskets_or_sealents_are_intact" (ionChange)="Gaskets_or_sealents_are_intact()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay12" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery12()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Gaskets_or_sealents_are_intact_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled4">
      <ion-label position="floating">Aluminium channel below balcony door is cleaned</ion-label>      
       <ion-select formControlName= "Aluminium_channel_below_balcony_door_is_cleaned" (ionChange)="Aluminium_channel_below_balcony_door_is_cleaned()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay13" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery13()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Aluminium_channel_below_balcony_door_is_cleaned_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
<ion-item >
  <ion-label>Electrical</ion-label>
  <ion-toggle slot="end" name="Electrical" (ionChange)="notify5()" formControlName="Electrical"  ></ion-toggle>  
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled5">
      <ion-label position="floating">Electrical points are as per standard offering</ion-label>      
       <ion-select formControlName= "Electrical_points_are_as_per_standard_offering" (ionChange)="Electrical_points_are_as_per_standard_offering()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay14" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery14()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Electrical_points_are_as_per_standard_offering_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled5">
      <ion-label position="floating">Ceiling electrical points are covered/capped properly</ion-label>      
       <ion-select formControlName= "Ceiling_electrical_points_are_covered_or_capped_properly" (ionChange)="Ceiling_electrical_points_are_covered_or_capped_properly()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay15" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery15()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Ceiling_electrical_points_are_covered_or_capped_properly_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section-->
    <ion-item *ngIf="isToggled5">
      <ion-label position="floating">Wall Light points are covered /capped properly</ion-label>      
       <ion-select formControlName= "Wall_Light_points_are_covered__or_capped_properly" (ionChange)="Wall_Light_points_are_covered__or_capped_properly()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay16" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery16()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Wall_Light_points_are_covered__or_capped_properly_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled5">
      <ion-label position="floating">Switch plates are aligned</ion-label>      
       <ion-select formControlName= "Switch_plates_are_aligned" (ionChange)="Switch_plates_are_aligned()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay17" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery17()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Switch_plates_are_aligned"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
<ion-item *ngIf="isToggled5">
      <ion-label position="floating">AC Core cut pipe is cleaned</ion-label>      
       <ion-select formControlName= "AC_Core_cut_pipe_is_cleaned" (ionChange)="AC_Core_cut_pipe_is_cleaned()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
      </ion-item> 
<ion-card *ngIf="cameradisplay18" >        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
       
       <ion-button (click)="getGallery18()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
        </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="AC_Core_cut_pipe_is_cleaned_Description"></ion-input>
         </ion-item>  
</ion-card>
      <!--section-->
<ion-item *ngIf="isToggled5">
      <ion-label position="floating">AC Core cut pipe is finished</ion-label>      
       <ion-select formControlName= "AC_Core_cut_pipe_is_finished" (ionChange)="AC_Core_cut_pipe_is_finished()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
     </ion-item>



<ion-card *ngIf="cameradisplay19" >
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        
        <ion-button (click)="getGallery19()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
        </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="AC_Core_cut_pipe_is_finished_Description"></ion-input>
         </ion-item>  
</ion-card>
<!--Shafts-->
<ion-item >
  <ion-label>Shafts</ion-label>
  <ion-toggle slot="end" name="Shafts" (ionChange)="notify6()" formControlName="Shafts"  ></ion-toggle>  
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled6">
      <ion-label position="floating">MS Duct door frames & wall junctions are sealed</ion-label>      
       <ion-select formControlName= "MS_Duct_door_frames_and_wall_junctions_are_sealed" (ionChange)="MS_Duct_door_frames_and_wall_junctions_are_sealed()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay20" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery20()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="MS_Duct_door_frames_and_wall_junctions_are_sealed_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled6">
      <ion-label position="floating">MS Duct doors are painted on both sides</ion-label>      
       <ion-select formControlName= "MS_Duct_doors_are_painted_on_both_sides" (ionChange)="MS_Duct_doors_are_painted_on_both_sides()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay21" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery21()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="MS_Duct_doors_are_painted_on_both_sides_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section-->
    <ion-item *ngIf="isToggled6">
      <ion-label position="floating">Shaft internalss to be free of debris</ion-label>      
       <ion-select formControlName= "Shaft_internalss_to_be_free_of_debris" (ionChange)="Shaft_internalss_to_be_free_of_debris()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay22" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery22()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Shaft_internalss_to_be_free_of_debris_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled6">
      <ion-label position="floating">Internal surfaces is cleaned & painted</ion-label>      
       <ion-select formControlName= "Internal_surfaces_is_cleaned_and_painted" (ionChange)="Internal_surfaces_is_cleaned_and_painted()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay23" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery23()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Internal_surfaces_is_cleaned_and_painted"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
<ion-item *ngIf="isToggled6">
      <ion-label position="floating">Shaft internals to be painted</ion-label>      
       <ion-select formControlName= "Shaft_internals_to_be_painted" (ionChange)="Shaft_internals_to_be_painted()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
      </ion-item> 
<ion-card *ngIf="cameradisplay24" >        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
       
       <ion-button (click)="getGallery24()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
        </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Shaft_internals_to_be_painted_Description"></ion-input>
         </ion-item>  
</ion-card>
<!--Railing-->
<ion-item >
  <ion-label>Railing</ion-label>
  <ion-toggle slot="end" name="Railing" (ionChange)="notify7()" formControlName="Railing"  ></ion-toggle>  
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled7">
      <ion-label position="floating"> SS pipe railing end caps are fixed without gaps</ion-label>      
       <ion-select formControlName= "SS_pipe_railing_end_caps_are_fixed_without_gaps" (ionChange)="SS_pipe_railing_end_caps_are_fixed_without_gaps()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay25" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery25()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="SS_pipe_railing_end_caps_are_fixed_without_gaps_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled7">
      <ion-label position="floating">Glass in railing is free of scratches</ion-label>      
       <ion-select formControlName= "Glass_in_railing_is_free_of_scratches" (ionChange)="Glass_in_railing_is_free_of_scratches()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay26" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery26()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Glass_in_railing_is_free_of_scratches_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section-->
    <ion-item *ngIf="isToggled7">
      <ion-label position="floating">SS pipe railing is finshed with smooth edges</ion-label>      
       <ion-select formControlName= "SS_pipe_railing_is_finshed_with_smooth_edges" (ionChange)="SS_pipe_railing_is_finshed_with_smooth_edges()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay27" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery27()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="SS_pipe_railing_is_finshed_with_smooth_edges_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled7">
      <ion-label position="floating">SS pipe railing height is consistente</ion-label>      
       <ion-select formControlName= "SS_pipe_railing_height_is_consistent" (ionChange)="SS_pipe_railing_height_is_consistent()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay28" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery28()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="SS_pipe_railing_height_is_consistent_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
<ion-item *ngIf="isToggled7">
      <ion-label position="floating">Glass railing assembly is sturdy</ion-label>      
       <ion-select formControlName= "Glass_railing_assembly_is_sturdy" (ionChange)="Glass_railing_assembly_is_sturdy()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
      </ion-item> 
<ion-card *ngIf="cameradisplay29" >        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
       
       <ion-button (click)="getGallery29()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
        </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Glass_railing_assembly_is_sturdy_Description"></ion-input>
         </ion-item>  
</ion-card>
<!--Miscellaneous-->
<ion-item >
  <ion-label>Miscellaneous</ion-label>
  <ion-toggle slot="end" name="Miscellaneous" (ionChange)="notify8()" formControlName="Miscellaneous"  ></ion-toggle>  
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled8">
      <ion-label position="floating">Granite coping is free of sharp edges/dents etc.,</ion-label>      
       <ion-select formControlName= "Granite_coping_is_free_of_sharp_edges_or_dents_etc" (ionChange)="Granite_coping_is_free_of_sharp_edges_or_dents_etc()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay30" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery30()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Granite_coping_is_free_of_sharp_edges_or_dents_etc_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled8">
      <ion-label position="floating">Undulations in paint due to textured paints on vertical surfaces</ion-label>      
       <ion-select formControlName= "Undulations_in_paint_due_to_textured_paints_on_vertical_surfaces" (ionChange)="Undulations_in_paint_due_to_textured_paints_on_vertical_surfaces()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay31" >
        
        <img src={{imgURL}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery31()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Undulations_in_paint_due_to_textured_paints_on_vertical_surfaces_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section-->
 <!--end of all-->    
</ion-card>

    
     <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="ionicForm.invalid" color="primary" expand="block" >Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>

<ion-item *ngIf="issubmit" >
      <ion-button (click)="sendmail()" expand="block" color="primary"  shape="round">
            Send Email
      </ion-button>
</ion-item>




</ion-content>