<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button>
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-button>
  </ion-buttons>
  <ion-title>Kitchen</ion-title>
</ion-toolbar>

<ion-content>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-card>
      <ion-item>
        <ion-label>Core cut</ion-label>
        <ion-toggle slot="end" name="Core_cut" (ionChange)="notify1()" formControlName="Core_cut"></ion-toggle>
      </ion-item>
      <!--section-->
      <ion-item *ngIf="isToggled1">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon1"></ion-icon>
        <ion-label position="floating">Core cutting for kitchen hood is connected towards exterior</ion-label>
        <ion-select formControlName="Core_cutting_for_kitchen_hood_is_connected_towards_exterior" (ionChange)="Core_cutting_for_kitchen_hood_is_connected_towards_exterior()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay1">
        <img src="{{imgURL1}}" *ngIf="imgURL1" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery1()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save1()" [disabled]="showicon1" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage1()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Core_cutting_for_kitchen_hood_is_connected_towards_exterior_Description"></ion-input>
        </ion-item>
      </ion-card>

      <!--section-->
      <ion-item *ngIf="isToggled1">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon2"></ion-icon>
        <ion-label position="floating">Core cut pipe is cleaned & finished with plaster on both sides</ion-label>
        <ion-select formControlName="Core_cut_pipe_is_cleaned_and_finished_with_plaster_on_both_sides" (ionChange)="Core_cut_pipe_is_cleaned_and_finished_with_plaster_on_both_sides()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay2">
        <img src="{{imgURL2}}" *ngIf="imgURL2" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery2()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save2()" [disabled]="showicon2" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage2()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Core_cut_pipe_is_cleaned_and_finished_with_plaster_on_both_sides_Description"></ion-input>
        </ion-item>
      </ion-card>

      <ion-item>
        <ion-label>Doors & Windows</ion-label>
        <ion-toggle slot="end" name="Doors_and_Windows" (ionChange)="notify2()" formControlName="Doors_and_Windows"></ion-toggle>
      </ion-item>
      <!--section-->
      <ion-item *ngIf="isToggled2">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon4"></ion-icon>
        <ion-label position="floating">UPVC kitchen windows bug screen is operable & taut</ion-label>
        <ion-select formControlName="UPVC_kitchen_windows_bug_screen_is_operable_and_taut" (ionChange)="UPVC_kitchen_windows_bug_screen_is_operable_and_taut()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay4">
        <img src="{{imgURL4}}" *ngIf="imgURL4" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery4()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save4()" [disabled]="showicon4" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage4()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_kitchen_windows_bug_screen_is_operable_and_taut_Description"></ion-input>
        </ion-item>
      </ion-card>

      <!--section-->
      <ion-item *ngIf="isToggled2">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon5"></ion-icon>
        <ion-label position="floating">Hardware is consistent</ion-label>
        <ion-select formControlName="Hardware_is_consistent" (ionChange)="Hardware_is_consistent()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay5">
        <img src="{{imgURL5}}" *ngIf="imgURL5" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery5()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save5()" [disabled]="showicon5" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage5()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Hardware_is_consistent_Description"></ion-input>
        </ion-item>
      </ion-card>
      <!--section-->
      <ion-item *ngIf="isToggled2">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon6"></ion-icon>
        <ion-label position="floating">UPVC kitchen windows are operable</ion-label>
        <ion-select formControlName="UPVC_kitchen_windows_are_operable" (ionChange)="UPVC_kitchen_windows_are_operable()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay6">
        <img src="{{imgURL6}}" *ngIf="imgURL6" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery6()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save6()" [disabled]="showicon6" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage6()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_kitchen_windows_are_operable_Description"></ion-input>
        </ion-item>
      </ion-card>

      <!--section-->
      <ion-item *ngIf="isToggled2">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon7"></ion-icon>
        <ion-label position="floating">Gaskets/Sealants are intact</ion-label>
        <ion-select formControlName="Gaskets_or_Sealants_are_intact" (ionChange)="Gaskets_or_Sealants_are_intact()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay7">
        <img src="{{imgURL7}}" *ngIf="imgURL7" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery7()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save7()" [disabled]="showicon7" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage7()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Gaskets_or_Sealants_are_intact_Description"></ion-input>
        </ion-item>
      </ion-card>

      <!--section-->
      <ion-item *ngIf="isToggled2">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon8"></ion-icon>
        <ion-label position="floating">UPVC kitchen windows are free of sharp edges</ion-label>
        <ion-select formControlName="UPVC_kitchen_windows_are_free_of_sharp_edges" (ionChange)="UPVC_kitchen_windows_are_free_of_sharp_edges()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay8">
        <img src="{{imgURL8}}" *ngIf="imgURL8" style="width: 200px; height: 150px" />
        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery8()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save8()" [disabled]="showicon8" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage8()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_kitchen_windows_are_free_of_sharp_edges_Description"></ion-input>
        </ion-item>
      </ion-card>

      <!--electrial-->
      <ion-item>
        <ion-label>Electrical</ion-label>
        <ion-toggle slot="end" name="Electrical" (ionChange)="notify3()" formControlName="Electrical"></ion-toggle>
      </ion-item>
      <!--section-->
      <ion-item *ngIf="isToggled3">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon10"></ion-icon>
        <ion-label position="floating">Switch plates are aligned</ion-label>
        <ion-select formControlName="Switch_plates_are_aligned" (ionChange)="Switch_plates_are_aligned()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay10">
        <img src="{{imgURL10}}" *ngIf="imgURL10" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery10()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save10()" [disabled]="showicon10" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage10()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Switch_plates_are_aligned_Description"></ion-input>
        </ion-item>
      </ion-card>

      <!--section-->
      <ion-item *ngIf="isToggled3">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon11"></ion-icon>
        <ion-label position="floating">Ceiling & wall electrical points are covered/capped properly</ion-label>
        <ion-select formControlName="Ceiling_and_wall_electrical_points_are_covered_or_capped_properly" (ionChange)="Ceiling_and_wall_electrical_points_are_covered_or_capped_properly()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay11">
        <img src="{{imgURL11}}" *ngIf="imgURL11" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery11()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save11()" [disabled]="showicon11" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage11()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Ceiling_electrical_points_are_covered_or_capped_properly_Description"></ion-input>
        </ion-item>
      </ion-card>
      <!--section-->
      <ion-item *ngIf="isToggled3">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon12"></ion-icon>
        <ion-label position="floating">Electrical points are as per standard offering</ion-label>
        <ion-select formControlName="Electrical_points_are_as_per_standard_offering" (ionChange)="Electrical_points_are_as_per_standard_offering()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay12">
        <img src="{{imgURL12}}" *ngIf="imgURL12" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery12()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save12()" [disabled]="showicon12" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage12()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Electrical_points_are_as_per_standard_offering_Description"></ion-input>
        </ion-item>
      </ion-card>

      <!--Flooring-->
      <ion-item>
        <ion-label>Flooring</ion-label>
        <ion-toggle slot="end" name="Flooring" (ionChange)="notify4()" formControlName="Flooring"></ion-toggle>
      </ion-item>
      <!--section-->
      <ion-item *ngIf="isToggled4">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon14"></ion-icon>
        <ion-label position="floating">Vitrified tiles are uniform , free of cracks & hollowness</ion-label>
        <ion-select formControlName="Vitrified_tiles_are_uniform__and_free_of_cracks_and_hollowness" (ionChange)="Vitrified_tiles_are_uniform__and_free_of_cracks_and_hollowness()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay14">
        <img src="{{imgURL14}}" *ngIf="imgURL14" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery14()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save14()" [disabled]="showicon14" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage14()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Vitrified_tiles_are_uniform__and_free_of_cracks_and_hollowness_Description"></ion-input>
        </ion-item>
      </ion-card>

      <!--section-->
      <ion-item *ngIf="isToggled4">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon15"></ion-icon>
        <ion-label position="floating">Skirting finish & aligned</ion-label>
        <ion-select formControlName="Skirting_finish_and_aligned" (ionChange)="Skirting_finish_and_aligned()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay15">
        <img src="{{imgURL15}}" *ngIf="imgURL15" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery15()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save15()" [disabled]="showicon15" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage15()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Skirting_finish_and_aligned_Description"></ion-input>
        </ion-item>
      </ion-card>
      <!--section-->
      <ion-item>
        <ion-label>PHE</ion-label>
        <ion-toggle slot="end" name="PHE" (ionChange)="notify5()" formControlName="PHE"></ion-toggle>
      </ion-item>
      <!--section-->
      <ion-item *ngIf="isToggled5">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon16"></ion-icon>
        <ion-label position="floating">Floor trap/bottle trap outlets are provided</ion-label>
        <ion-select formControlName="Floor_trap_or_ottle_trap_outlets_are_provided" (ionChange)="Electrical_wall_points_are_covered()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay16">
        <img src="{{imgURL16}}" *ngIf="imgURL16" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery16()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save16()" [disabled]="showicon16" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage16()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Floor_trap_or_ottle_trap_outlets_are_provided_Description"></ion-input>
        </ion-item>
      </ion-card>

      <!--section-->
      <ion-item *ngIf="isToggled5">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon17"></ion-icon>
        <ion-label position="floating">Sink inlet is provided</ion-label>
        <ion-select formControlName="Sink_inlet_is_provided" (ionChange)="Sink_inlet_is_provided()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay17">
        <img src="{{imgURL17}}" *ngIf="imgURL17" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery17()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save17()" [disabled]="showicon17" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage17()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Sink_inlet_is_provided_Description"></ion-input>
        </ion-item>
      </ion-card>
      <!--section-->
      <ion-item *ngIf="isToggled5">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon18"></ion-icon>
        <ion-label position="floating">Floor trap cover is provided & is free of debris/rust</ion-label>
        <ion-select formControlName="Floor_trap_cover_is_provided_and_is_free_of_debris_or_rust" (ionChange)="Floor_trap_cover_is_provided_and_is_free_of_debris_or_rust()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay18">
        <img src="{{imgURL18}}" *ngIf="imgURL18" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery18()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save18()" [disabled]="showicon18" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage18()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Floor_trap_cover_is_provided_and_is_free_of_debris_or_rust_Description"></ion-input>
        </ion-item>
      </ion-card>

      <!--Reticulated Gas-->
      <ion-item>
        <ion-label>Reticulated Gas</ion-label>
        <ion-toggle slot="end" name="Reticulated_Gas" (ionChange)="notify6()" formControlName="Reticulated_Gas"></ion-toggle>
      </ion-item>

      <!--section-->
      <ion-item *ngIf="isToggled6">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon21"></ion-icon>
        <ion-label position="floating">Reticulated gas pipes are clamped properly & is clean of stains</ion-label>
        <ion-select formControlName="Reticulated_gas_pipes_are_clamped_properly_and_is_clean_of_stains" (ionChange)="Reticulated_gas_pipes_are_clamped_properly_and_is_clean_of_stains()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay21">
        <img src="{{imgURL21}}" *ngIf="imgURL21" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery21()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save21()" [disabled]="showicon21" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage21()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Reticulated_gas_pipes_are_clamped_properly_and_is_clean_of_stains_Description"></ion-input>
        </ion-item>
      </ion-card>
      <!--Walls & ceiling-->
      <ion-item>
        <ion-label>Walls & ceiling</ion-label>
        <ion-toggle slot="end" name="Walls_and_ceiling" (ionChange)="notify7()" formControlName="Walls_and_ceiling"></ion-toggle>
      </ion-item>
      <!--section-->
      <ion-item *ngIf="isToggled7">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon22"></ion-icon>
        <ion-label position="floating">Cornices installed are consistent</ion-label>
        <ion-select formControlName="Cornices_installed_are_consistent" (ionChange)="Cornices_installed_are_consistent()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay22">
        <img src="{{imgURL22}}" *ngIf="imgURL22" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery22()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save22()" [disabled]="showicon22" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage22()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Cornices_installed_are_consistent_Description"></ion-input>
        </ion-item>
      </ion-card>

      <!--section-->
      <ion-item *ngIf="isToggled7">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon23"></ion-icon>
        <ion-label position="floating">Junction between door frame & wall is finished</ion-label>
        <ion-select formControlName="Junction_between_door_frame__and_wall_is_finished" (ionChange)="Junction_between_door_frame__and_wall_is_finished()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay23">
        <img src="{{imgURL23}}" *ngIf="imgURL23" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery23()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save23()" [disabled]="showicon23" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage23()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Junction_between_door_frame__and_wall_is_finished_Description"></ion-input>
        </ion-item>
      </ion-card>
      <!--section-->
      <ion-item *ngIf="isToggled7">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon24"></ion-icon>
        <ion-label position="floating">Ceilings are free of stains/undulations/cracks etc.,</ion-label>
        <ion-select formControlName="Ceilings_are_free_of_stains_or_ndulations_or_racks_etc" (ionChange)="Ceilings_are_free_of_stains_or_ndulations_or_racks_etc()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay24">
        <img src="{{imgURL24}}" *ngIf="imgURL24" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery24()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save24()" [disabled]="showicon24" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage24()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Ceilings_are_free_of_stains_or_ndulations_or_racks_etc_Description"></ion-input>
        </ion-item>
      </ion-card>

      <!--section-->
      <ion-item *ngIf="isToggled7">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon25"></ion-icon>
        <ion-label position="floating">Aluminium transition member betweeen vitrified flooring & marble is consistently finished</ion-label>
        <ion-select formControlName="Aluminium_transition_member_betweeen_vitrified_flooring_and_marble_is_consistently_finished" (ionChange)="Aluminium_transition_member_betweeen_vitrified_flooring_and_marble_is_consistently_finished()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay25">
        <img src="{{imgURL25}}" *ngIf="imgURL25" style="width: 200px; height: 150px" />

        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery25()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save25()" [disabled]="showicon25" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage25()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Aluminium_transition_member_betweeen_vitrified_flooring_and_marble_is_consistently_finished_Description"></ion-input>
        </ion-item>
      </ion-card>

      <!--section-->
      <ion-item *ngIf="isToggled7">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon26"></ion-icon>
        <ion-label position="floating">Walls are free of cracks/ stains etc.,</ion-label>
        <ion-select formControlName="Walls_are_free_of_cracks_or_stains_etc" (ionChange)="Walls_are_free_of_cracks_or_stains_etc()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay26">
        <img src="{{imgURL26}}" *ngIf="imgURL26" style="width: 200px; height: 150px" />
        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery26()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save26()" [disabled]="showicon26" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage26()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Walls_are_free_of_cracks_or_stains_etc_Description"></ion-input>
        </ion-item>
      </ion-card>
      <!--section-->
      <ion-item *ngIf="isToggled7">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon27"></ion-icon>
        <ion-label position="floating">Granite ledge provided is free of cracks & sharp edges</ion-label>
        <ion-select formControlName="Granite_ledge_provided_is_free_of_cracks_and_sharp_edges" (ionChange)="Granite_ledge_provided_is_free_of_cracks_and_sharp_edges()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay27">
        <img src="{{imgURL27}}" *ngIf="imgURL27" style="width: 200px; height: 150px" />
        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery27()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save27()" [disabled]="showicon27" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage27()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Granite_Ledge_finish_is_without_sharp_edges_Description"></ion-input>
        </ion-item>
      </ion-card>
      <!--endsection-->
      <!--section-->
      <ion-item *ngIf="isToggled7">
        <ion-icon slot="end" name="checkmark-circle" *ngIf="showicon28"></ion-icon>
        <ion-label position="floating">Wall behind gas pipe assembly are finished</ion-label>
        <ion-select formControlName="Wall_behind_gas_pipe_assembly_are_finished" (ionChange)="Wall_behind_gas_pipe_assembly_are_finished()">
          <ion-select-option value="YES">Yes</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card *ngIf="cameradisplay28">
        <img src="{{imgURL28}}" *ngIf="imgURL28" style="width: 200px; height: 150px" />
        <ion-card-header>
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="getGallery28()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
            &nbsp;Camera
          </ion-button>
          <ion-button (click)="save28()" [disabled]="showicon28" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="save"></ion-icon>
            &nbsp;save
          </ion-button>

          <ion-button (click)="sendMessage28()" color="primary" shape="round" size="small">
            <ion-icon size="small" slot="icon-only" name="send"></ion-icon>
            &nbsp;Send
          </ion-button>
        </ion-card-content>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Wall_behind_gas_pipe_assembly_are_finished_Description"></ion-input>
        </ion-item>
      </ion-card>
      <!--endsection-->

      <!--end of all-->
    </ion-card>

    <ion-row *ngIf="isenabled">
      <ion-col>
        <ion-button type="submit" [disabled]="ionicForm.invalid" color="primary" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>

  <ion-item *ngIf="issubmit">
    <ion-button slot="start" (click)="exportCSV()" expand="block" color="primary" shape="round">Share</ion-button>
  </ion-item>
</ion-content>
