<ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button>
             <ion-menu-button auto-hide="true"></ion-menu-button>
          </ion-button>
        </ion-buttons>
        <ion-title>Utility</ion-title>
</ion-toolbar>

<ion-content>
 <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
 <ion-card >

<ion-item >
  <ion-label>Doors & Windows</ion-label>
  <ion-toggle slot="end" name="Doors_and_Windows" (ionChange)="notify1()" formControlName="Doors_and_Windows"  ></ion-toggle>
   
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled1">
      <ion-label position="floating">UPVC door glass & infill panels are free of scratches</ion-label>      
       <ion-select formControlName= "UPVC_door_glass_and_infill_panels_are_free_of_scratches" (ionChange)="UPVC_door_glass_and_infill_panels_are_free_of_scratches()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay1" >
        
        <img src={{imgURL1}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery1()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_door_glass_and_infill_panels_are_free_of_scratches_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled1">
      <ion-label position="floating">UPVC utility doors are free of sharp edges</ion-label>      
       <ion-select formControlName= "UPVC_utility_doors_are_free_of_sharp_edges" (ionChange)="UPVC_utility_doors_are_free_of_sharp_edges()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay2" >
        
        <img src={{imgURL2}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery2()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_utility_doors_are_free_of_sharp_edges_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section-->
    <ion-item *ngIf="isToggled1">
      <ion-label position="floating">UPVC exterior windows are operable</ion-label>      
       <ion-select formControlName= "UPVC_exterior_windows_are_operable" (ionChange)="xUPVC_exterior_windows_are_operable()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay3" >
        
        <img src={{imgURL3}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery3()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_exterior_windows_are_operable_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled1">
      <ion-label position="floating">UPVC utility doors are operable</ion-label>      
       <ion-select formControlName= "UPVC_utility_doors_are_operable" (ionChange)="UPVC_utility_doors_are_operable()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay4" >
        
        <img src={{imgURL4}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery4()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_utility_doors_are_operable_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section-->
<ion-item *ngIf="isToggled1">
      <ion-label position="floating"> Gaskets/sealents are intact</ion-label>      
       <ion-select formControlName= "Gaskets_or_ealents_are_intact" (ionChange)="Gaskets_or_ealents_are_intact()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay5" >
        
        <img src={{imgURL5}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery5()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Gaskets_or_ealents_are_intact_Description"></ion-input>
         </ion-item>  
      </ion-card>
  <!--section
  <ion-item *ngIf="isToggled1">
      <ion-label position="floating">UPVC exterior window bug screen mesh is taut</ion-label>      
       <ion-select formControlName= "UPVC_exterior_window_bug_screen_mesh_is_taut" (ionChange)="UPVC_exterior_window_bug_screen_mesh_is_taut()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay6" >
        
        <img src={{imgURL6}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery6()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_exterior_window_bug_screen_mesh_is_taut_Description"></ion-input>
         </ion-item>  
      </ion-card>
-->
 <!--section-->
  <ion-item *ngIf="isToggled1">
      <ion-label position="floating">UPVC exterior window bug screen is operable & taut</ion-label>      
       <ion-select formControlName= "UPVC_exterior_window_bug_screen_is_operable_and_taut" (ionChange)="UPVC_exterior_window_bug_screen_is_operable_and_taut()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay7" >
        
        <img src={{imgURL7}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery7()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="UPVC_exterior_window_bug_screen_is_operable_and_taut_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--Flooring-->
<ion-item >
  <ion-label>Flooring</ion-label>
  <ion-toggle slot="end" name="Flooring" (ionChange)="notify2()" formControlName="Flooring"  ></ion-toggle>  
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled2">
      <ion-label position="floating">Floor slope is adequate</ion-label>      
       <ion-select formControlName= "Floor_slope_is_adequate" (ionChange)="Floor_slope_is_adequate()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay8" >
        
        <img src={{imgURL8}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery8()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Floor_slope_is_adequate_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled2">
      <ion-label position="floating">Skirting finish & aligned</ion-label>      
       <ion-select formControlName= "Skirting_finish__and_aligned" (ionChange)="Skirting_finish__and_aligned()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay9" >
        
        <img src={{imgURL9}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery9()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Skirting_finish__and_aligned_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section-->
    <ion-item *ngIf="isToggled2">
      <ion-label position="floating">Vitrified flooring tiles are uniform ,free of cracks & hollowness</ion-label>      
       <ion-select formControlName= "Vitrified_flooring_tiles_are_uniform_free_of_cracks_and_hollowness" (ionChange)="Vitrified_flooring_tiles_are_uniform_free_of_cracks_and_hollowness()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay10" >
        
        <img src={{imgURL10}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery10()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Vitrified_flooring_tiles_are_uniform_free_of_cracks_and_hollowness_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--PHE-->
<ion-item >
  <ion-label>PHE</ion-label>
  <ion-toggle slot="end" name="PHE" (ionChange)="notify3()" formControlName="PHE"  ></ion-toggle>  
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled3">
      <ion-label position="floating">Floor trap cover is provided,free of debris & rust</ion-label>      
       <ion-select formControlName= "Floor_trap_cover_is_provided_free_of_debris_and_rust" (ionChange)="Floor_trap_cover_is_provided_free_of_debris_and_rust()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay11" >
        
        <img src={{imgURL11}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery11()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Floor_trap_cover_is_provided_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled3">
      <ion-label position="floating">Brackets supporting counter is painted & free of rust</ion-label>      
       <ion-select formControlName= "Brackets_supporting_counter_is_painted__and_free_of_rust" (ionChange)="Brackets_supporting_counter_is_painted__and_free_of_rust()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay12" >
        
        <img src={{imgURL12}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery12()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Brackets_supporting_counter_is_painted__and_free_of_rust_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section-->
    <ion-item *ngIf="isToggled3">
      <ion-label position="floating">Granite cill ledge provided is free of cracks & sharp edges</ion-label>      
       <ion-select formControlName= "Granite_cill_ledge_provided_is_free_of_cracks_and_sharp_edges" (ionChange)="Granite_cill_ledge_provided_is_free_of_cracks_and_sharp_edges()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay13" >
        
        <img src={{imgURL13}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery13()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Granite_cill_ledge_provided_is_free_of_cracks_and_sharp_edges_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled3">
      <ion-label position="floating">Sink faucet is operable</ion-label>      
       <ion-select formControlName= "Sink_faucet_is_operable" (ionChange)="Sink_faucet_is_operable()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay14" >
        
        <img src={{imgURL14}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery14()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Sink_faucet_is_operable_Description"></ion-input>
         </ion-item>  
      </ion-card>


  <!--section-->
<ion-item *ngIf="isToggled3">
      <ion-label position="floating">Junction between Sink & counter edges are sealed</ion-label>      
       <ion-select formControlName= "Junction_between_Sink_and_counter_edges_are_sealed" (ionChange)="Junction_between_Sink_and_counter_edges_are_sealed()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
      </ion-item> 
<ion-card *ngIf="cameradisplay15" >        
        <img src={{imgURL15}} style="width:200px ; height:150px ;" />        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
   
       <ion-button (click)="getGallery15()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
        </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Junction_between_Sink_and_counter_edges_are_sealed_Description"></ion-input>
         </ion-item>  
</ion-card>
 <!--section
<ion-item *ngIf="isToggled3">
      <ion-label position="floating">Floor trap below cover is clean</ion-label>      
       <ion-select formControlName= "Floor_trap_below_cover_is_clean" (ionChange)="Floor_trap_below_cover_is_clean()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
     </ion-item>



<ion-card *ngIf="cameradisplay16" >
        <img src={{imgURL16}} style="width:200px ; height:150px ;" />
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
     
        <ion-button (click)="getGallery16()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
        </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Floor_trap_below_cover_is_clean_Description"></ion-input>
         </ion-item>  
</ion-card>
-->
<!--endsection-->
<!--Shafts-->
<ion-item >
  <ion-label>Shafts</ion-label>
  <ion-toggle slot="end" name="Shafts" (ionChange)="notify4()" formControlName="Shafts"  ></ion-toggle>  
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled4">
      <ion-label position="floating">MS Duct doors are painted on both sides</ion-label>      
       <ion-select formControlName= "MS_Duct_doors_are_painted_on_both_sides" (ionChange)="MS_Duct_doors_are_painted_on_both_sides()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay17" >
        
        <img src={{imgURL17}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery17()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="MS_Duct_doors_are_painted_on_both_sides_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled4">
      <ion-label position="floating">Internal surfaces is cleaned & painted</ion-label>      
       <ion-select formControlName= "Internal_surfaces_is_cleaned_and_painted" (ionChange)="Internal_surfaces_is_cleaned_and_painted()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay18" >
        
        <img src={{imgURL18}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery18()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Internal_surfaces_is_cleaned_and_painted_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section
    <ion-item *ngIf="isToggled4">
      <ion-label position="floating">Shaft internals to be painted</ion-label>      
       <ion-select formControlName= "Shaft_internals_to_be_painted" (ionChange)="Shaft_internals_to_be_painted()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay19" >
        
        <img src={{imgURL19}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery19()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Shaft_internals_to_be_painted_Description"></ion-input>
         </ion-item>  
      </ion-card>
-->
<!--section-->
    <ion-item *ngIf="isToggled4">
      <ion-label position="floating">MS Duct door frames & wall junctions are sealed</ion-label>      
       <ion-select formControlName= "MS_Duct_door_frames__and_wall_junctions_are_sealed" (ionChange)="MS_Duct_door_frames__and_wall_junctions_are_sealed()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay20" >
        
        <img src={{imgURL20}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery20()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="MS_Duct_door_frames__and_wall_junctions_are_sealed_Description"></ion-input>
         </ion-item>  
      </ion-card>


  <!--section-->
<ion-item *ngIf="isToggled4">
      <ion-label position="floating">Shaft surfaces are cleaned, painted & free of debris</ion-label>      
       <ion-select formControlName= "Shaft_surfaces_are_cleaned_painted_and_free_of_debris" (ionChange)="Shaft_surfaces_are_cleaned_painted_and_free_of_debris()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
      </ion-item> 
<ion-card *ngIf="cameradisplay21" >        
        <img src={{imgURL21}} style="width:200px ; height:150px ;" />        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
      
       <ion-button (click)="getGallery21()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
        </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Shaft_surfaces_are_cleaned_painted_and_free_of_debris_Description"></ion-input>
         </ion-item>  
</ion-card>
   
<!--Walls & ceiling-->
<ion-item >
  <ion-label>Walls & ceiling</ion-label>
  <ion-toggle slot="end" name="Walls_and_ceiling" (ionChange)="notify5()" formControlName="Walls_and_ceiling"  ></ion-toggle>  
</ion-item>
<!--section-->
<ion-item *ngIf="isToggled5">
      <ion-label position="floating">Junctions betweeen door frame & wall is finished</ion-label>      
       <ion-select formControlName= "Junctions_betweeen_door_frame__and_wall_is_finished" (ionChange)="Junctions_betweeen_door_frame__and_wall_is_finished()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay22" >
        
        <img src={{imgURL22}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery22()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Junctions_betweeen_door_frame__and_wall_is_finished_Description"></ion-input>
         </ion-item>  
      </ion-card>

<!--section-->
    <ion-item *ngIf="isToggled5">
      <ion-label position="floating">Ceilings are free of stains/undulations/cracks etc.,</ion-label>      
       <ion-select formControlName= "Ceilings_are_free_of_stains_or_ndulations_or_racks_etc" (ionChange)="Ceilings_are_free_of_stains_or_ndulations_or_racks_etc()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay23" >
        
        <img src={{imgURL23}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery23()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Ceilings_are_free_of_stains_or_ndulations_or_racks_etc_Description"></ion-input>
         </ion-item>  
      </ion-card>
<!--section
    <ion-item *ngIf="isToggled5">
      <ion-label position="floating">Wall dado is consistent </ion-label>      
       <ion-select formControlName= "Wall_dado_is_consistent" (ionChange)="Wall_dado_is_consistent()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay24" >
        
        <img src={{imgURL24}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery24()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Wall_dado_is_consistent_Description"></ion-input>
         </ion-item>  
      </ion-card>
-->
<!--section-->
    <ion-item *ngIf="isToggled5">
      <ion-label position="floating">Junction between dado & wall plaster is uniformly finished</ion-label>      
       <ion-select formControlName= "Junction_between_dado_and_wall_plaster_is_uniformly_finished" (ionChange)="Junction_between_dado_and_wall_plaster_is_uniformly_finished()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
</ion-item>
 <ion-card *ngIf="cameradisplay25" >
        
        <img src={{imgURL25}} style="width:200px ; height:150px ;" />
        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>

        </ion-card-header>
        <ion-card-content>
        
  <ion-button (click)="getGallery25()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
  </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Junction_between_dado_and_wall_plaster_is_uniformly_finished_Description"></ion-input>
         </ion-item>  
      </ion-card>


  <!--section-->
<ion-item *ngIf="isToggled5">
      <ion-label position="floating">Wall dado is free of hollowness & is consistent</ion-label>      
       <ion-select formControlName= "Wall_dado_is_free_of_hollowness_and_is_consistent" (ionChange)="Wall_dado_is_free_of_hollowness_and_is_consistent()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
      </ion-item> 
<ion-card *ngIf="cameradisplay26" >        
        <img src={{imgURL26}} style="width:200px ; height:150px ;" />        
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
      >
       <ion-button (click)="getGallery26()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
        </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Wall_dado_is_free_of_hollowness_and_is_consistent_Description"></ion-input>
         </ion-item>  
</ion-card>
      <!--section-->
<ion-item *ngIf="isToggled5">
      <ion-label position="floating">Walls are free of cracks/ stains etc.,</ion-label>      
       <ion-select formControlName= "Walls_are_free_of_cracks_or_stains_etc" (ionChange)="Walls_are_free_of_cracks_or_stains_etc()">
              <ion-select-option value="YES">Yes</ion-select-option>
              <ion-select-option value="No">No</ion-select-option>              
       </ion-select>  
         
     </ion-item>



<ion-card *ngIf="cameradisplay27" >
        <img src={{imgURL27}} style="width:200px ; height:150px ;" />
        <ion-card-header >
          <ion-card-title>Photo</ion-card-title>
        </ion-card-header>
        <ion-card-content>
     
        <ion-button (click)="getGallery27()" color="primary" shape="round" size="small">
        <ion-icon size="small" slot="icon-only" name="folder"></ion-icon>
        &nbsp;Camera
        </ion-button>
        </ion-card-content>
         <ion-item >
         <ion-label position="floating">Description</ion-label>
          <ion-input formControlName="Walls_are_free_of_cracks_or_stains_etc_Description"></ion-input>
         </ion-item>  
</ion-card>
<!--endsection-->

 <!--end of all-->    
</ion-card>

     <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="ionicForm.invalid" color="primary" expand="block" >Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>

<ion-item *ngIf="issubmit" >
      <ion-button (click)="sendmail()" expand="block" color="primary"  shape="round">
            Send Email
      </ion-button>
</ion-item>






</ion-content>

