section {
      margin-top: 1em;
      margin-bottom: 2.5em;
    }

    section:not(.full-width),
    .full-width > header {
      padding: 0 10px;
    }

ion-col > div {
      background-color: #f7f7f7;
      border: solid 1px #ddd;
      padding: 10px;
    }
    
    ion-icon {
        padding: 5px;
        font-size: 3em;
    }
    ion-itext{
        padding:2px;

    }