<ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button>
             <ion-menu-button auto-hide="true"></ion-menu-button>
          </ion-button>
        </ion-buttons>
        <ion-title>project Edit</ion-title>
</ion-toolbar>

<ion-content>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <ion-item *ngFor="let c of simpleForm" >
  <ion-label position="stacked">{{c.options.label}}</ion-label>
   </ion-item>
  <div [ngSwitch]="'c.type'">
  <ion-toggle *ngSwitchCase="'boolean'" [formControlName]='c.key' ></ion-toggle>
  </div>



  <ion-button block color="primary" type="submit" [disabled]="myForm.valid">
    Submit 
  </ion-button>
</form>
</ion-content>
